html, body {
  height: 100%;
}
body {
  display: flex;
  font: bold;
  flex-direction: column;
}
/* section {
  background-color: pink;
} */

main {
  padding: 20px;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}